permissions:
  contents: read
name: installer-test
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-versions:
    strategy:
      matrix:
        version: [
          "2023.44", "2023.46", "2024.05", "2024.06", "2024.09",
          "2024.14", "2024.19", "2025.36", "2025.36.0"
          ]
      fail-fast: true
      max-parallel: 1 # To avoid rate limiting issues
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Test install Ubuntu 
        run: |
          docker run -d --name ubuntu --rm -v $(pwd):/app:ro -w /app ubuntu:latest sleep 60
          docker exec ubuntu apt-get update
          docker exec ubuntu apt-get install -y wget
          docker exec ubuntu bash qbee-agent-installer.sh --qbee-agent-version ${{ matrix.version }}
          AGENT_VERSION="${{ matrix.version }}"
          AGENT_VERSION="${AGENT_VERSION%.0}" # Remove trailing .0 if present
          docker exec ubuntu qbee-agent version | grep "$AGENT_VERSION" || (echo "Version check failed" && exit 1)
          docker kill ubuntu

  test-amd64:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Test install Ubuntu
        run: |
          docker run -d --name ubuntu --rm -v $(pwd):/app:ro -w /app ubuntu:latest sleep 60
          docker exec ubuntu apt-get update
          docker exec ubuntu apt-get install -y wget
          docker exec ubuntu bash qbee-agent-installer.sh
          docker kill ubuntu

      - name: Test install Debian
        run: |
          docker run -d --name debian --rm -v $(pwd):/app:ro -w /app debian:latest sleep 60
          docker exec debian apt-get update
          docker exec debian apt-get install -y wget
          docker exec debian bash qbee-agent-installer.sh
          docker kill debian

      - name: Test install RHEL
        run: |
          docker run -d --name rhel --rm -v $(pwd):/app:ro -w /app registry.access.redhat.com/ubi9/ubi:latest sleep 60
          docker exec rhel bash qbee-agent-installer.sh
          docker kill rhel

      - name: Test install CentOS
        run: |
          docker run -d --name centos7 --rm -v $(pwd):/app:ro -w /app centos:7 sleep 60
          
          docker exec centos7 sh -c "sed -i s/mirror.centos.org/vault.centos.org/g /etc/yum.repos.d/CentOS-*.repo"
          docker exec centos7 sh -c "sed -i s/^#.*baseurl=http/baseurl=http/g /etc/yum.repos.d/CentOS-*.repo"
          docker exec centos7 sh -c "sed -i s/^mirrorlist=http/#mirrorlist=http/g /etc/yum.repos.d/CentOS-*.repo"
          docker exec centos7 bash qbee-agent-installer.sh

          docker kill centos7

  test-arm64:
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4

      - name: Test install Ubuntu
        run: |
          docker run -d --name ubuntu --rm -v $(pwd):/app:ro -w /app ubuntu:latest sleep 60
          docker exec ubuntu apt-get update
          docker exec ubuntu apt-get install -y wget
          docker exec ubuntu bash qbee-agent-installer.sh
          docker kill ubuntu

      - name: Test install Debian
        run: |
          docker run -d --name debian --rm -v $(pwd):/app:ro -w /app debian:latest sleep 60
          docker exec debian apt-get update
          docker exec debian apt-get install -y wget
          docker exec debian bash qbee-agent-installer.sh
          docker kill debian

      - name: Test install RHEL
        run: |
          docker run -d --name rhel --rm -v $(pwd):/app:ro -w /app registry.access.redhat.com/ubi9/ubi:latest sleep 60
          docker exec rhel bash qbee-agent-installer.sh
          docker kill rhel

      - name: Test install CentOS
        run: |
          docker run -d --name centos7 --rm -v $(pwd):/app:ro -w /app centos:7 sleep 60
          
          docker exec centos7 sh -c "sed -i s/mirror.centos.org/vault.centos.org/g /etc/yum.repos.d/CentOS-*.repo"
          docker exec centos7 sh -c "sed -i s/^#.*baseurl=http/baseurl=http/g /etc/yum.repos.d/CentOS-*.repo"
          docker exec centos7 sh -c "sed -i s/^mirrorlist=http/#mirrorlist=http/g /etc/yum.repos.d/CentOS-*.repo"
          docker exec centos7 bash qbee-agent-installer.sh

          docker kill centos7

  test-armhf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Test install legacy raspbian
        run: |
          docker run --privileged --rm tonistiigi/binfmt --install all
          docker run --platform linux/arm/v7 -d --name raspbian8 --rm -v $(pwd):/app:ro -w /app raspbian/jessie:041518 sleep 60
          docker exec raspbian8 bash qbee-agent-installer.sh
          docker kill raspbian8
